<%= form_with(model: question, url: [@exercise, @question], class: "contents") do |f| %>

  <% if question.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="border rounded-md  p-2">
    <%= f.hidden_field :exercise_id, value: @exercise.id %>
    <%= f.text_field :title, placeholder: "> Question ...", class:"ln--field " %>

    <div class="my-2">
      <!-- render questions -->
      <%= render 'answer_fields', :f => f %>
    </div>
    <div class="mt-4">
      <%= f.text_field :content, placeholder: "> Explication ...", class:"ln--field" %>
    </div>

    <div class="flex my-2">
      <%= f.submit "Question Suivante", class:"flex bg-blue-600 p-2 text-white font-bold rounded-md" %>
      <%= link_to 'Annuler', root_path, class: "flex bg-green-400  p-2 text-white font-bold ml-4 rounded-md" %>
    </div>
</div>

<% end %>

<div class="questions-column mt-8">

    <% if @exercise.questions.any? %>
        <div class="my-2">
            <%= render 'added_questions', record: @exercise %>
        </div>
    <% else %>
        <p>Ajouter les questions!</p>
    <% end %>
</div>
