<% @title="Accueil" %>
<!-- Navbar Items -->
<%= render "homepage/shared/navbar" %>
<div class="container md:mx-auto mt-20">
    <div
        class="flex flex-wrap md:flex-row flex-col">
        <!-- Materials -->
        <div class="w-full md:w-1/4 md:p-2 border">
            <%= render "homepage/shared/materials" %>
        </div>
        <!-- Contents -->
        <div class="w-full md:w-2/4 md:p-2">
            <%= render "homepage/shared/chatbox" %>
            <%= render "homepage/shared/contents" %>
        </div>
        <!-- User Profil-->
        <div class="w-full md:w-1/4 p-2 hidden md:block border">
            <%= render "homepage/shared/user_profil" %>
        </div>
    </div>
</div>

