
<h2 class="font-bold text-xl pb-2"> <%= @result.exercise.title %></h2>
<%= form_for(@result, url: exercise_results_path(@result.exercise)) do |f| %>

<%= f.hidden_field :exercise_id %>
  <ol class = "bg-gray-200 text-black" > 
    <%= f.fields_for :answered_questions do |aq| %>
        <%= aq.hidden_field :question_id %> 
      <li clas="flex"> 
          <%= aq.collection_radio_buttons( :answer_id, aq.object.question.answers, :id, :title) do |b| %>
              <div class ="border p-2 my-2 text-black font-bold " >
                <%= b.radio_button %>
                <%= b.label %>
              </div>
          <% end %>
          <div class="p-4" > 
            <%= aq.object.question.title %> 
          </div>
      </li>
    <% end %>
  </ol >
  <%= f.submit "Vérifions l'exercice", class:"bg-blue-400 rounded-md p-2 text-white font-semibold" %>
<% end %>