<% @title=@material.title %>

<!-- Navbar Items -->
<%= render "homepage/shared/navbar" %>
<div class="container md:mx-auto mt-20">
    <div
        class="flex flex-wrap md:flex-row flex-col">
        <!-- Materials -->
        <div class="w-full md:w-1/4 md:p-2 border">
            <%= render "homepage/shared/materials", cached:true %>
        </div>
        <!-- Contents -->
        <div class="w-full md:w-2/4 md:p-2">
            <%= render "homepage/shared/chatbox", cached:true %>
            <%= render "homepage/shared/contents", cached:true %>
<% if current_user_status == "yclass_team" %>

<div class="inline-block ml-2">
    <%= button_to 'Destroy this level', material_path(@material), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
</div>

<% end %>

        </div>
        <!-- User Profil-->
        <div class="w-full md:w-1/4 p-2 hidden md:block border">
            <%= render "homepage/shared/user_profil", cached:true %>
        </div>
    </div>
</div>

